In [ ]:
import sys
import mysql.connector
import xlsxwriter
import pandas as pd
import sys
import mysql.connector
import os
from dotenv import load_dotenv
load_dotenv()
#ESTE ARGUMENTO NO SE USA EN ESTE REPORTE, SERÁ 0 SIEMPRE UWU
id=str(sys.argv[1])
#configurar la conexion a la base de datos
DB_USERNAME = os.getenv('DB_USERNAME')
DB_DATABASE = os.getenv('DB_DATABASE')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_PORT = os.getenv('DB_PORT')
a_color='#354F84'
b_color='#91959E'
# Conectar a DB
cnx = mysql.connector.connect(user=DB_USERNAME,
                              password=DB_PASSWORD,
                              host='localhost',
                              port=DB_PORT,
                              database=DB_DATABASE,
                              use_pure=False)
#Seccion para traer informacion de la base
query = ('SELECT * from customers where id = 1')

# join para cobros
# cobros=pd.read_sql('Select cobros.* ,customers.customer,internal_orders.invoice, users.name from ((cobros inner join internal_orders on internal_orders.id = cobros.order_id) inner join customers on customers.id = internal_orders.customer_id )inner join users on cobros.capturo=users.id',cnx)


#traer datos de los pedidos
pedidos=pd.read_sql("""Select internal_orders.* ,customers.clave,customers.alias,
coins.exchange_sell, coins.coin, coins.symbol
from ((
    internal_orders
    inner join customers on customers.id = internal_orders.customer_id )
    inner join coins on internal_orders.coin_id = coins.id)
     """,cnx)
cobros=pd.read_sql("""select cobro_orders.*
                     from (((
                         cobro_orders 
    inner join cobros on cobros.id=cobro_orders.cobro_id)
    inner join internal_orders on internal_orders.id = cobros.order_id )
    inner join coins on internal_orders.coin_id = coins.id) """,cnx)
facturas=pd.read_sql("""select * 
                     from ((
                         factures
    inner join internal_orders on internal_orders.id = factures.order_id )
    inner join coins on internal_orders.coin_id = coins.id) """,cnx)
creditos=pd.read_sql("""select * 
                     from ((
                         credit_notes    inner join internal_orders on internal_orders.id = credit_notes.order_id )
    inner join coins on internal_orders.coin_id = coins.id) """,cnx)
print(creditos)

Empty DataFrame
Columns: [id, customer_id, facture_id, amount, date, created_at, updated_at, status, credit_note, coin_id, order_id, id, invoice, date, customer_id, seller_id, date_delivery, instalation_date, shipment, customer_shipping_address_id, coin_id, subtotal, iva, total, payment_conditions, pays, observations, status, authorization_id, created_at, updated_at, comision, reg_date, oc, ncontrato, isr, ieps, descuento, ncotizacion, otra, dgi, noha, ret, tasa, description, category, id, coin, symbol, code, exchange_rate, date_application, created_at, updated_at, exchange_buy, exchange_sell]
Index: []

[0 rows x 56 columns]

C:\Users\hp\AppData\Local\Temp\ipykernel_19540\3827783321.py:34: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pedidos=pd.read_sql("""Select internal_orders.* ,customers.clave,customers.alias,
C:\Users\hp\AppData\Local\Temp\ipykernel_19540\3827783321.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cobros=pd.read_sql("""select cobro_orders.*
C:\Users\hp\AppData\Local\Temp\ipykernel_19540\3827783321.py:47: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  facturas=pd.read_sql("""select *
C:\Users\hp\AppData\Local\Temp\ipykernel_19540\3827783321.py:52: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  creditos=pd.read_sql("""select *

In [ ]:
facturas.loc[facturas['order_id']==229]

Empty DataFrame
Columns: [id, order_id, ordinal, facture, amount, status, npagos, created_at, updated_at, date, coin_id, tc, id, invoice, date, customer_id, seller_id, date_delivery, instalation_date, shipment, customer_shipping_address_id, coin_id, subtotal, iva, total, payment_conditions, pays, observations, status, authorization_id, created_at, updated_at, comision, reg_date, oc, ncontrato, isr, ieps, descuento, ncotizacion, otra, dgi, noha, ret, tasa, description, category, id, coin, symbol, code, exchange_rate, date_application, created_at, updated_at, exchange_buy, exchange_sell]
Index: []

[0 rows x 57 columns]

In [12]:
(pedidos['total']-pedidos['subtotal']*(1-pedidos['descuento'])*0.16).sum()

104747983.72

In [6]:
pedidos.loc[pedidos['invoice']=='2887']

,id,invoice,date,customer_id,seller_id,date_delivery,instalation_date,shipment,customer_shipping_address_id,coin_id,...,ret,tasa,description,category,clave,alias,exchange_sell,coin,symbol,code
24,147,2887,2023-04-25,414,3,2022-08-30,2022-08-30,Sí,53,1,...,0.0,0.0,Servicio directo SD,Servicios,8,FEDEX,1.0,NACIONAL,$,MN

In [13]:
cobros.loc[cobros['order_id']==147,'amount'].sum()/1.16

217000.00000000003

In [26]:
p=pedidos.loc[pedidos['coin']=='NACIONAL']

In [28]:
#TODO: calculado desde el dataframe cuanto dan los subtotales mn nacional?
p['total'].sum()

129170937.4448

In [12]:
111432232.78-111853526.41793102

-421293.63793101907

In [ ]:
sudo chown -R www-data: report
sudo chmod -R 755 report

In [ ]:
#Sin iva cuanto da?

In [24]:
len(p)

3

In [49]:
import sys
import mysql.connector
import xlsxwriter
import pandas as pd
import sys
import mysql.connector
import os
from dotenv import load_dotenv
load_dotenv()
#ESTE ARGUMENTO NO SE USA EN ESTE REPORTE, SERÁ 0 SIEMPRE UWU
id=str(sys.argv[1])
#configurar la conexion a la base de datos
DB_USERNAME = os.getenv('DB_USERNAME')
DB_DATABASE = os.getenv('DB_DATABASE')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_PORT = os.getenv('DB_PORT')

a_color='#354F84'
b_color='#91959E'
# Conectar a DB
cnx = mysql.connector.connect(user=DB_USERNAME,
                              password=DB_PASSWORD,
                              host='localhost',
                              port=DB_PORT,
                              database=DB_DATABASE,
                              use_pure=False)
#Seccion para traer informacion de la base
query = ('SELECT * from customers where id =1')

# join para cobros
# cobros=pd.read_sql('Select cobros.* ,customers.customer,internal_orders.invoice, users.name from ((cobros inner join internal_orders on internal_orders.id = cobros.order_id) inner join customers on customers.id = internal_orders.customer_id )inner join users on cobros.capturo=users.id',cnx)


#traer datos de los pedidos
pedidos=pd.read_sql("""Select internal_orders.* ,customers.clave,customers.alias,
coins.exchange_sell, coins.coin, coins.symbol,coins.code
from ((
    internal_orders
    inner join customers on customers.id = internal_orders.customer_id )
    inner join coins on internal_orders.coin_id = coins.id)
     """,cnx)
clientes=pd.read_sql("select * from customers",cnx)
cobros=pd.read_sql("""select cobros.*,internal_orders.coin_id as coin_pedido,internal_orders.customer_id  
                     from (
                         cobros
    inner join internal_orders on internal_orders.id = cobros.order_id )""",cnx)
facturas=pd.read_sql("""select factures.*,internal_orders.coin_id as coin_pedido,internal_orders.customer_id  
                     from (
                         factures
    inner join internal_orders on internal_orders.id = factures.order_id )""",cnx)
creditos=pd.read_sql("""select credit_notes.*,internal_orders.coin_id as coin_pedido,internal_orders.customer_id as customer_pedido 
                     from (
                         credit_notes
    inner join internal_orders on internal_orders.id = credit_notes.order_id ) """,cnx)

nordenes=len(pedidos)

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [50]:
#Separar pedidos vigentes
    #Agregar columna con saldo en los cobros
pedidos=pedidos.assign(saldo=0.0)
for i in range(len(pedidos)):
    pedidos['saldo'].values[i]=cobros.loc[cobros['order_id']==pedidos['id'].values[i],'amount'].sum()

In [19]:
# ej, el primer pedido
pedidos[['invoice','total','saldo']]

    invoice         total        saldo
0      2175  3.561200e+05    356120.00
1      2749  3.190000e+03      3190.00
2      2750  5.308694e+07  49725362.80
3      2751  5.800000e+03         0.00
4      2752  8.288003e+04     82880.03
..      ...           ...          ...
189    3104  3.157868e+06         0.00
190    3105  8.827600e+04         0.00
191    3106  1.118471e+06         0.00
192    3107  2.298192e+05    114909.60
193    3108  1.127520e+06         0.00

[194 rows x 3 columns]

In [20]:
pedidos['total']-pedidos['saldo']

0            0.000
1            0.000
2      3361573.200
3         5800.000
4           -0.002
          ...
189    3157868.000
190      88276.000
191    1118470.840
192     114909.600
193    1127520.000
Length: 194, dtype: float64

In [23]:
len(pedidos)

194

In [51]:
pedidos=pedidos.loc[pedidos['total']-pedidos['saldo']<=100]

In [52]:
len(pedidos)

134

In [27]:
pedidos=pedidos.assign(pendiente=pedidos['total']-pedidos['saldo'])

In [32]:
pedidos['pendiente'].unique()

array([ 0.00000000e+00, -1.99999999e-03,  1.20000006e-03, -1.50000000e-01,
       -2.14959600e+04, -8.00000000e-02, -1.00000000e-02,  1.80000000e-01,
        2.79999999e-03, -1.99999986e-03, -7.00000001e-02,  8.00000000e-02,
       -4.80000000e-01,  2.00000000e-03,  4.80000000e-03,  3.19999992e-03,
       -2.80000000e-03,  5.82076609e-11,  2.32830644e-10, -4.80000001e-03,
       -9.99999998e-03, -2.91038305e-11,  2.91038305e-11,  4.80000002e-03,
       -4.99999999e-02,  9.00000000e+01])

In [43]:
pedidos.loc[pedidos['pendiente']>1,['invoice','customer_id','code','total','saldo','pendiente']]

    invoice  customer_id code    total    saldo  pendiente
157    3072          645   MN  83056.0  82966.0       90.0

In [39]:
clientes[clientes['id']==645]

,id,customer,customer_rfc,customer_state,customer_city,customer_suburb,customer_street,customer_outdoor,customer_indoor,customer_zip_code,...,created_at,updated_at,legal_name,alias,ncomp,clave,regimen_fiscal,pagina_web,curp,nacionalidad
341,645,COMERCIALIZADORA JAVA 2011,CJD110214H29,MEXICO,CDMX,LOMAS DE PADIERNA SUR,PROLONGACION TULUM,MZ 49,LT 23,14740,...,2023-08-18 08:12:41,2023-08-18 08:12:41,S.A. DE C.V.,JAVA 2011,None,350,None,None,None,None

In [1]:
import sys
import mysql.connector
import xlsxwriter
import pandas as pd
import sys
import mysql.connector
import os
from dotenv import load_dotenv
load_dotenv()
#ESTE ARGUMENTO NO SE USA EN ESTE REPORTE, SERÁ 0 SIEMPRE UWU
id=str(sys.argv[1])
#configurar la conexion a la base de datos
DB_USERNAME = os.getenv('DB_USERNAME')
DB_DATABASE = os.getenv('DB_DATABASE')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_PORT = os.getenv('DB_PORT')

a_color='#354F84'
b_color='#91959E'
# Conectar a DB
cnx = mysql.connector.connect(user=DB_USERNAME,
                              password=DB_PASSWORD,
                              host='localhost',
                              port=DB_PORT,
                              database=DB_DATABASE,
                              use_pure=False)
#Seccion para traer informacion de la base
query = ('SELECT * from customers where id =1')

In [ ]:
curso

In [21]:
clientes

,id,customer,customer_rfc,customer_state,customer_city,customer_suburb,customer_street,customer_outdoor,customer_indoor,customer_zip_code,...,created_at,updated_at,legal_name,alias,ncomp,clave,regimen_fiscal,pagina_web,curp,nacionalidad
0,297,GALLETAS DE CALIDAD S.A.de C.V.,GCA690815R94,CIUDAD DE MEXICO,AZCAPOTZALCO,COLTONGO,PONIENTE 122,489,0,2630.,...,NaT,NaT,POR ASIGNAR,GALLETAS DE CALIDAD S.A.de C.V.,None,179,0.0,http://www.marian.com.mx/web/,0,MEXICANA
1,298,CASA DIAZ MAQUINAS DE COCER S.A. DE C.V.,CDM760124C85,CD DE MEXICO,CUCUTHEMOC,OBRERA,FRAY SERVANDO TERESA DE MIER,29,0,6800.,...,NaT,NaT,POR ASIGNAR,CASA DIAZ MAQUINAS DE COCER S.A. DE C.V.,None,191,0.0,CASADIAZ..COM.MX,0,MEXICANA
2,299,LO,0,0,0,0,0,0,0,0.0,...,NaT,NaT,POR ASIGNAR,LO,None,160,0.0,0,0,0
3,300,FINANMADRID MEXICO,FME050125MS0,CIUDAD DE MEXICO,MIGUEL HIDALGO,LOMAS DE CHAPULTEPEC 1 SECCION,BLVD MANUEL AVILA CAMACHO,P 4 Y 5,0,11000,...,NaT,NaT,POR ASIGNAR,FINANMADRID MEXICO,None,161,0.0,0,0,0
4,301,COMERCIALIZADORA KELLY S.A. DE C.V.,CKE051019KG1,MEXICO,NAUCALPAN DE JUAREZ,LOMAS DE TECAMACHALCO SECCION FUENTES,FUENTES DE PIRAMIDES,1,604,53950,...,NaT,NaT,POR ASIGNAR,COMERCIALIZADORA KELLY S.A. DE C.V.,None,119,0.0,0,0,MEXICANA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,655,MAS BODEGA Y LOGISTICA,CCA030408D46,NUEVO LEON,NUEVO LEON,PARQUE INDUSTRIAL KALOS,CARR CUOTA MONTERREY REYNOSA,9650,a,67110,...,2023-10-05 10:32:08,2023-10-05 10:32:08,S.A. DE C.V.,MAS BODEGA Y LOGISTICA,None,359,None,None,None,None
352,656,PASE LOGISTICA,PLO220308375,MEXICO,CDMX,INDUSTRIAL VALLEJO,PONIENTE 146,603,None,02300,...,2023-10-10 04:38:52,2023-10-10 04:38:52,S.A. DE C.V.,PASE,None,360,None,None,None,None
353,657,EXCEL NOBLEZA,ENO940203NY2,PUEBLA,PUEBLA,TEPANCO DE LOPEZ,CARR FEDERAL PUEBLA-TEHUACAN,101,None,75800,...,2023-10-20 11:06:38,2023-10-20 11:06:38,S DE R.L DE C.V.,EXCEL NOBLEZA,None,361,None,None,None,None
354,658,CROWN GAMING MEXICO,CGM100309IL8,MEXICO,CDMX,POLANCO,MONTE ELBRUZ,132,804,11530,...,2023-10-24 05:34:53,2023-10-24 05:34:53,FISICA CAEYP,CROWN GAMING MEXICO,None,364,None,None,None,None
355,659,BEE BAGS,BBA160219M45,MEXICO,CDMX,SAN DIEGO CHURUBUSCO,CALZADA DE TLALPAN,1687,None,04120,...,2023-10-24 06:36:52,2023-10-24 06:36:52,S.A. DE C.V.,BEE BAGS,None,363,None,None,None,None

In [54]:
cobros=cobros.merge(pedidos[['id','code']].rename(columns={'id':'order_id'}),how='inner',on='order_id')

In [55]:
len(cobros)

293

In [62]:
cobros.loc[cobros['code']=='MN','amount'].sum()+tc*cobros.loc[cobros['code']!='MN','amount'].sum()

NameError: name 'tc' is not defined

In [4]:
!pip install pandas

[notice] A new release of pip available: 22.2.2 -> 23.3.2

Requirement already satisfied: pandas in c:\python310\lib\site-packages (1.5.0)
Requirement already satisfied: numpy>=1.21.0 in c:\python310\lib\site-packages (from pandas) (1.22.2)
Requirement already satisfied: pytz>=2020.1 in c:\python310\lib\site-packages (from pandas) (2022.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] To update, run: C:\Python310\python.exe -m pip install --upgrade pip

In [3]:
import sys
import numpy as np
import mysql.connector
import pandas as pd
import sys
import mysql.connector
import os
from dotenv import load_dotenv
load_dotenv()
#ESTE ARGUMENTO NO SE USA EN ESTE REPORTE, SERÁ 0 SIEMPRE UWU
id=0
#configurar la conexion a la base de datos
DB_USERNAME = os.getenv('DB_USERNAME')
DB_DATABASE = os.getenv('DB_DATABASE')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_PORT = os.getenv('DB_PORT')

a_color='#354F84'
b_color='#91959E'
# Conectar a DB
cnx = mysql.connector.connect(user=DB_USERNAME,
                              password=DB_PASSWORD,
                              host='localhost',
                              port=DB_PORT,
                              database=DB_DATABASE,
                              use_pure=False)

In [4]:
cursor=cnx.cursor(buffered=True)

In [16]:
productos.columns

Index(['DESCRIPCION ', '$ X HOJA ', '$ PQ. TEMPLADO ', 'X AL CORTE ',
       '$ X HOJA .1', '$ PQ. TEMPLADO .1', 'X AL CORTE .1', 'Unnamed: 7'],
      dtype='object')

In [31]:
productos=pd.read_excel('LISTA PRECIO SELVA.xlsx',skiprows=np.arange(8),sheet_name='Hoja1 (2)')

In [27]:
import re

def parse_producto(cadena):
    # Usamos regex para capturar la estructura: "descripcion DE grosorMM anchoXalto"
    patron = r"^(.*?)\s+(\d+)MM\s+(\d+)X(\d+)$"
    match = re.match(patron, cadena.strip(), re.IGNORECASE)
    
    if not match:
        patron = r"^(.*?)\s+(\d+) MM\s+(\d+)X(\d+)$"
        # raise ValueError("La cadena no coincide con el formato esperado")
    match = re.match(patron, cadena.strip(), re.IGNORECASE)
    if not match:
        # patron = r"^(.*?)\s+DE\s+(\d+) MM\s+(\d+)X(\d+)$"
        raise ValueError("La cadena no coincide con el formato esperado")
    
    descripcion = match.group(1).strip()
    grosor = int(match.group(2))
    ancho = int(match.group(3))
    alto = int(match.group(4))
    
    return descripcion, grosor, ancho, alto

In [36]:
for i in range(len(productos)):
    val=productos['DESCRIPCION '].values[i]
    try:
        descripcion, grosor, ancho, alto = parse_producto(val)
    except:
        print(val+"no se migro")
    print(i,val)
    print("Descripción:", descripcion)
    print("Grosor (mm):", grosor)
    print("Ancho (cm):", ancho)
    print("Alto (cm):", alto)
    # cursor.execute
    cursor.execute(f"insert into products(description, alto,ancho,grosor,price,cut_price,templado) values('{descripcion}','{alto}','{ancho}','{grosor}','{productos['$ X HOJA '].values[i]}','{productos['X AL CORTE '].values[i]}','{productos['$ PQ. TEMPLADO '].values[i]}')")

0 HOJA CLARO DE 2MM  160X180
Descripción: HOJA CLARO DE
Grosor (mm): 2
Ancho (cm): 160
Alto (cm): 180
1 MEDIA HOJA CLARO DE 3MM 130X180
Descripción: MEDIA HOJA CLARO DE
Grosor (mm): 3
Ancho (cm): 130
Alto (cm): 180
2 HOJA CLARO DE 3MM   180X260
Descripción: HOJA CLARO DE
Grosor (mm): 3
Ancho (cm): 180
Alto (cm): 260
3 HOJA CLARO DE  4MM   180X260
Descripción: HOJA CLARO DE
Grosor (mm): 4
Ancho (cm): 180
Alto (cm): 260
4 HOJA  CLARO DE 5MM   260X330
Descripción: HOJA  CLARO DE
Grosor (mm): 5
Ancho (cm): 260
Alto (cm): 330
5 MEDIA HOJA CLARO DE 6MM  130X180
Descripción: MEDIA HOJA CLARO DE
Grosor (mm): 6
Ancho (cm): 130
Alto (cm): 180
6 HOJA CLARO DE 6MM   120X260
Descripción: HOJA CLARO DE
Grosor (mm): 6
Ancho (cm): 120
Alto (cm): 260
7  HOJA CLARO DE 6MM  180X260
Descripción: HOJA CLARO DE
Grosor (mm): 6
Ancho (cm): 180
Alto (cm): 260
8 HOJA CLARO DE 6MM   230X260
Descripción: HOJA CLARO DE
Grosor (mm): 6
Ancho (cm): 230
Alto (cm): 260
9 HOJA CLARO DE 6MM   260X330
Descripción: HOJA CLARO DE
Grosor (mm): 6
Ancho (cm): 260
Alto (cm): 330
10 HOJA CLARO DE 6MM   260X360
Descripción: HOJA CLARO DE
Grosor (mm): 6
Ancho (cm): 260
Alto (cm): 360
11 HOJA CLARO DE 8MM  180X260
Descripción: HOJA CLARO DE
Grosor (mm): 8
Ancho (cm): 180
Alto (cm): 260
12 HOJA CLARO DE 8MM  244X330
Descripción: HOJA CLARO DE
Grosor (mm): 8
Ancho (cm): 244
Alto (cm): 330
13 HOJA CLARO DE 8MM  260X360
Descripción: HOJA CLARO DE
Grosor (mm): 8
Ancho (cm): 260
Alto (cm): 360
14 HOJA CLARO DE 10 MM  180X260
Descripción: HOJA CLARO DE
Grosor (mm): 10
Ancho (cm): 180
Alto (cm): 260
15 HOJA CLARO DE 10 MM  260X360
Descripción: HOJA CLARO DE
Grosor (mm): 10
Ancho (cm): 260
Alto (cm): 360
16 HOJA DE FILTRASOL 3 MM  180X260
Descripción: HOJA DE FILTRASOL
Grosor (mm): 3
Ancho (cm): 180
Alto (cm): 260
17 HOJA DE FILTRASOL 6 MM  180X260
Descripción: HOJA DE FILTRASOL
Grosor (mm): 6
Ancho (cm): 180
Alto (cm): 260
18 HOJA DE FILTRASOL 6 MM  230X260
Descripción: HOJA DE FILTRASOL
Grosor (mm): 6
Ancho (cm): 230
Alto (cm): 260
19 HOJA DE FILTRASOL 6 MM  260X360
Descripción: HOJA DE FILTRASOL
Grosor (mm): 6
Ancho (cm): 260
Alto (cm): 360
20 HOJA DE FILTRASOL 8 MM  260X365
Descripción: HOJA DE FILTRASOL
Grosor (mm): 8
Ancho (cm): 260
Alto (cm): 365
21 HOJA DE FILTRASOL 10 MM  180X260
Descripción: HOJA DE FILTRASOL
Grosor (mm): 10
Ancho (cm): 180
Alto (cm): 260
22 HOJA DE FILTRASOL 10 MM  260X360
Descripción: HOJA DE FILTRASOL
Grosor (mm): 10
Ancho (cm): 260
Alto (cm): 360
23 TINTEX  3MM 159x240
Descripción: TINTEX
Grosor (mm): 3
Ancho (cm): 159
Alto (cm): 240
24 HOJA DE TINTEX 6MM  180X260
Descripción: HOJA DE TINTEX
Grosor (mm): 6
Ancho (cm): 180
Alto (cm): 260
25 HOJA DE TINTEX 6MM  260X360
Descripción: HOJA DE TINTEX
Grosor (mm): 6
Ancho (cm): 260
Alto (cm): 360
26 HOJA DE TINTEX 10MM  180X260
Descripción: HOJA DE TINTEX
Grosor (mm): 10
Ancho (cm): 180
Alto (cm): 260
27 HOJA DE TINTEX 10MM  260X360
Descripción: HOJA DE TINTEX
Grosor (mm): 10
Ancho (cm): 260
Alto (cm): 360
28 HOJA TINTEX PLUS  6MM 180X260
Descripción: HOJA TINTEX PLUS
Grosor (mm): 6
Ancho (cm): 180
Alto (cm): 260
29 HOJA TINTEX MAX 6MM 180X260
Descripción: HOJA TINTEX MAX
Grosor (mm): 6
Ancho (cm): 180
Alto (cm): 260
30 HOJA SOL-LITE CLARO 3MM  180X260
Descripción: HOJA SOL-LITE CLARO
Grosor (mm): 3
Ancho (cm): 180
Alto (cm): 260
31 HOJA SOL-LITE CLARO 4MM  180X260
Descripción: HOJA SOL-LITE CLARO
Grosor (mm): 4
Ancho (cm): 180
Alto (cm): 260
32 HOJA SOL-LITE CLARO 6MM  180X260
Descripción: HOJA SOL-LITE CLARO
Grosor (mm): 6
Ancho (cm): 180
Alto (cm): 260
33 HOJA SOL-LITE CLARO 6MM  260X360
Descripción: HOJA SOL-LITE CLARO
Grosor (mm): 6
Ancho (cm): 260
Alto (cm): 360
34 HOJA DE SOL-LITE GRIS  3MM 180X260
Descripción: HOJA DE SOL-LITE GRIS
Grosor (mm): 3
Ancho (cm): 180
Alto (cm): 260
35 HOJA DE SOL-LITE GRIS  6MM 180X260
Descripción: HOJA DE SOL-LITE GRIS
Grosor (mm): 6
Ancho (cm): 180
Alto (cm): 260
36 HOJA DE SOL-LITE GRIS  6MM 260X360
Descripción: HOJA DE SOL-LITE GRIS
Grosor (mm): 6
Ancho (cm): 260
Alto (cm): 360
37 HOJA DE SOL-LITE VERDE  6MM 180X260
Descripción: HOJA DE SOL-LITE VERDE
Grosor (mm): 6
Ancho (cm): 180
Alto (cm): 260
38 HOJA DE LUNA 2MM 160X180
Descripción: HOJA DE LUNA
Grosor (mm): 2
Ancho (cm): 160
Alto (cm): 180
39 HOJA DE LUNA 3MM 180X260
Descripción: HOJA DE LUNA
Grosor (mm): 3
Ancho (cm): 180
Alto (cm): 260
40 HOJA DE LUNA 4MM 180X260
Descripción: HOJA DE LUNA
Grosor (mm): 4
Ancho (cm): 180
Alto (cm): 260
41 HOJA DE LUNA 6MM 180X260
Descripción: HOJA DE LUNA
Grosor (mm): 6
Ancho (cm): 180
Alto (cm): 260
42 HOJA DE LUNA 6MM 260X360
Descripción: HOJA DE LUNA
Grosor (mm): 6
Ancho (cm): 260
Alto (cm): 360
43 HOJA SATINADO CLARO 3MM 180X260
Descripción: HOJA SATINADO CLARO
Grosor (mm): 3
Ancho (cm): 180
Alto (cm): 260
44 HOJA SATINADO CLARO 4MM 180X260
Descripción: HOJA SATINADO CLARO
Grosor (mm): 4
Ancho (cm): 180
Alto (cm): 260
45 HOJA SATINADO CLARO 6MM 180X260
Descripción: HOJA SATINADO CLARO
Grosor (mm): 6
Ancho (cm): 180
Alto (cm): 260
46 HOJA SATINADO CLARO 10MM 180X260
Descripción: HOJA SATINADO CLARO
Grosor (mm): 10
Ancho (cm): 180
Alto (cm): 260
47 HOJA SATINADO CLARO 10MM 260X360
Descripción: HOJA SATINADO CLARO
Grosor (mm): 10
Ancho (cm): 260
Alto (cm): 360
48 HOJA SATINADO AZUL 5MM 180X260
Descripción: HOJA SATINADO AZUL
Grosor (mm): 5
Ancho (cm): 180
Alto (cm): 260
49 HOJA SATINADO GRIS 6MM 180X260
Descripción: HOJA SATINADO GRIS
Grosor (mm): 6
Ancho (cm): 180
Alto (cm): 260
50 HOJA REFLECTA PLATA  6MM 180X260
Descripción: HOJA REFLECTA PLATA
Grosor (mm): 6
Ancho (cm): 180
Alto (cm): 260
51 HOJA INASTILLABLE CLARO 5MM 180X240
Descripción: HOJA INASTILLABLE CLARO
Grosor (mm): 5
Ancho (cm): 180
Alto (cm): 240
52 HOJA INASTILLABLE GRIS 5MM 180X240
Descripción: HOJA INASTILLABLE GRIS
Grosor (mm): 5
Ancho (cm): 180
Alto (cm): 240
HOJA INASTILLABLE 3+3 CLARO 180X260no se migro
53 HOJA INASTILLABLE 3+3 CLARO 180X260
Descripción: HOJA INASTILLABLE GRIS
Grosor (mm): 5
Ancho (cm): 180
Alto (cm): 240
HOJA INASTILLABLE 3+3SOL-GRIS 180X260no se migro
54 HOJA INASTILLABLE 3+3SOL-GRIS 180X260
Descripción: HOJA INASTILLABLE GRIS
Grosor (mm): 5
Ancho (cm): 180
Alto (cm): 240
HOJA INASTILLABLE 3+3 SOLEX 244X330no se migro
55 HOJA INASTILLABLE 3+3 SOLEX 244X330
Descripción: HOJA INASTILLABLE GRIS
Grosor (mm): 5
Ancho (cm): 180
Alto (cm): 240
56 HOJA TIMELESS   10 MM 260X330
Descripción: HOJA TIMELESS
Grosor (mm): 10
Ancho (cm): 260
Alto (cm): 330
57 HOJA BIOCLEAN  6MM  260X330
Descripción: HOJA BIOCLEAN
Grosor (mm): 6
Ancho (cm): 260
Alto (cm): 330
58 HOJA BIOCLEAN  10MM  260X330
Descripción: HOJA BIOCLEAN
Grosor (mm): 10
Ancho (cm): 260
Alto (cm): 330
59 HOJA STB 120  AZUL 6MM  180X260
Descripción: HOJA STB 120  AZUL
Grosor (mm): 6
Ancho (cm): 180
Alto (cm): 260
60 HOJA EXTRA CLA(DIAMANTE) 4 MM 225X321
Descripción: HOJA EXTRA CLA(DIAMANTE)
Grosor (mm): 4
Ancho (cm): 225
Alto (cm): 321
61 HOJA EXTRACLA(DIAMANTE) 10MM 225X321
Descripción: HOJA EXTRACLA(DIAMANTE)
Grosor (mm): 10
Ancho (cm): 225
Alto (cm): 321
62 HOJA DE EVO 50 6MM 180X260
Descripción: HOJA DE EVO 50
Grosor (mm): 6
Ancho (cm): 180
Alto (cm): 260
63 HOJA DE EVO 50  6MM 260X330
Descripción: HOJA DE EVO 50
Grosor (mm): 6
Ancho (cm): 260
Alto (cm): 330
64 HOJA DE EVO 67- 6MM 180X260
Descripción: HOJA DE EVO 67-
Grosor (mm): 6
Ancho (cm): 180
Alto (cm): 260
65 HOJA DE EVO 67- 6MM 260X330
Descripción: HOJA DE EVO 67-
Grosor (mm): 6
Ancho (cm): 260
Alto (cm): 330
66 HOJA DE EVO 50- 10MM 260X330
Descripción: HOJA DE EVO 50-
Grosor (mm): 10
Ancho (cm): 260
Alto (cm): 330
67 HOJA DE EVO 67- 10 MM 260X330
Descripción: HOJA DE EVO 67-
Grosor (mm): 10
Ancho (cm): 260
Alto (cm): 330

In [37]:
cnx.commit()

In [13]:
import numpy as np

In [28]:
for i in range(0,59):
    if(len(gastos['DESCRIPCION'].values[i])>3):
        print(gastos['DESCRIPCION'].values[i])
        cursor.execute("insert into bills(description , p_total) values('"+str(gastos['DESCRIPCION'].values[i])+"', 1)")

RENTA CORPORATIVO
RENTA PLANTA XAHUENTO
AGUA
CFE (ENERGIA ELECTRICA)
TELEFONOS (FIJOS + MOVILES)
GAS PARA HORNO DE PINTURA
RECOLECCION BASURA
SALARIOS
HORAS EXTRAS Y OTRAS PERCEPCIONES POR SALARIOS
FINIQUITOS, INDEMNIZACIONES Y SIMILARES.
AGUINALDOS (PROVISION).
VACACIONES (PROVISION).
PRIMA VACACIONAL (PROVISION)
INCENTIVOS POR PRODUCTIVIDAD
IMSS
INFONAVIT
IMPUESTOS SOBRE NOMINAS (3%)
PTU (PROVISION)
IMPUESTO SOBRE EMISIONES A LA ATMOSFERA
OTROS IMPUESTOS
DGI NOMINA (COMISIONES)
DGI FEFE
HONORARIOS CONTADORES Y AUDITORES
HONORARIOS ASESOR INFORMATICO Y T.I. (TINORED)
HONORARIOS ABOGADO (ASESORIA JURIDICA)
MERCADOTECNIA Y PUBLICIDAD
COACHING
ASPEL (SAE, NOI, COI)
SERVICIO DE RECLUTAMIENTO Y RECURSOS HUMANOS
CAPACITACION EXTERNA
VIGILANCIA / SERVICIO
LIMPIEZA / SERVICIO
MANTENIMIENTO  DEL CORPORATIVO
MANTENIMIENTO  PLANTA (OFICINAS)
MANTENIMIENTO  (SISTEMAS DE INFORMACION)
MANTENIMIENTO VEHICULOS
SEGUROS DE VEHICULOS
SEGUROS DE RESPONSABILIDAD CIVIL Y OTROS
PRODUCTOS ASEO
PAPELERIA
GARRAFONES DE AGUA
CAJAS CHICAS
Vo.Bo. P. CIVIL
Vo.Bo. ECOLOGIA
LICENCIA DE FUNCIONAMIENTO
SEGURIDAD PUBLICA
VERIFICACIONES, TENENCIAS Y SIMILARES DE VEHICULOS.
DONATIVOS (COMUNIDAD Y/O GUBERNAMENTALES)
EXTINTORES, SEÑALES, ETC
GASOLINA
PEAJES
VIATICOS
COMISIONES BANCARIAS
SEGUROS (FLETES Y OTROS)
OTROS GASTOS FIJOS (HACER PAPEL DE TRABAJO)
AJUSTES A LA BAJA (CRITERIO)

In [29]:
cnx.commit()

In [6]:
reg

,clave,desc,fisica,moral,Unnamed: 4
0,601,General de Ley Personas Morales,No,Sí,2022-01-01
1,603,Personas Morales con Fines no Lucrativos,No,Sí,2022-01-01
2,605,Sueldos y Salarios e Ingresos Asimilados a Sal...,Sí,No,2022-01-01
3,606,Arrendamiento,Sí,No,2022-01-01
4,607,Régimen de Enajenación o Adquisición de Bienes,Sí,No,2022-01-01
5,608,Demás ingresos,Sí,No,2022-01-01
6,610,Residentes en el Extranjero sin Establecimient...,Sí,Sí,2022-01-01
7,611,Ingresos por Dividendos (socios y accionistas),Sí,No,2022-01-01
8,612,Personas Físicas con Actividades Empresariales...,Sí,No,2022-01-01
9,614,Ingresos por intereses,Sí,No,2022-01-01
10,615,Régimen de los ingresos por obtención de premios,Sí,No,2022-01-01
11,616,Sin obligaciones fiscales,Sí,No,2022-01-01
12,620,Sociedades Cooperativas de Producción que opta...,No,Sí,2022-01-01
13,621,Incorporación Fiscal,Sí,No,2022-01-01
14,622,"Actividades Agrícolas, Ganaderas, Silvícolas y...",No,Sí,2022-01-01
15,623,Opcional para Grupos de Sociedades,No,Sí,2022-01-01
16,624,Coordinados,No,Sí,2022-01-01
17,625,Régimen de las Actividades Empresariales con i...,Sí,No,2022-01-01
18,626,Régimen Simplificado de Confianza,Sí,Sí,2022-01-01

In [3]:
cursor=cnx.cursor(buffered=True)